---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Code from "../components/icons/Code.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Andrik's Portfolio - Front End Developer" description="">
  <main>
    <SectionContainer>
      <h1 class="text-5xl font-semibold gap-4 pb-[30px] flex">
        Hey, I'm Andrik <a
          class="flex"
          href="https://www.linkedin.com/in/andrik-sp/"
          target="_blank"><Badge>Available for hiring</Badge></a
        >
      </h1>

      <p
        class="text-2xl pb-xl max-w-[720px] [&>strong]:font-semibold [&>strong]:text-brand"
      >
        +3 years of experience. <strong>Front-end developer</strong> based in Catalonia,
        Spain. I specialize in UI development
      </p>

      <nav class="flex gap-4 mt-12">
        <SocialPill link="https://www.linkedin.com/in/andrik-sp/">
          <LinkedInIcon class="size-5" />
          LinkedIn
        </SocialPill>
        <SocialPill link="https://github.com/Andrik27001">
          <GitHubIcon class="size-5" />
          GitHub
        </SocialPill>
        <SocialPill link="https://www.linkedin.com/in/andrik-sp/">
          <MailIcon class="size-5" />
          andrik27001@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl mb-8 font-semibold mb-12 flex items-start gap-4">
        <Briefcase class="size-8" />
        Working Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl mb-8 font-semibold mb-12 flex items-center gap-4">
        <Code class="size-8" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
