---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Andrik's Portfolio - Front End Developer" description="">
  <main>
    <section class="pt-[120px] w-[740px]">
      <h1 class="text-4xl font-semibold gap-4 pb-[30px] flex">
        Hey, I'm Andrik <a
          class="flex"
          href="https://www.linkedin.com/in/andrik-sp/"
          target="_blank"><Badge>Available for hiring</Badge></a
        >
      </h1>

      <h2 class="text-3xl pb-xl">
        Web designer and developer based in Catalonia, Spain. I specialize in UI
        development
      </h2>

      <nav class="flex gap-4 mt-12">
        <SocialPill link="https://www.linkedin.com/in/andrik-sp/">
          <LinkedInIcon class="size-5" />
          LinkedIn
        </SocialPill>
        <SocialPill link="https://github.com/Andrik27001">
          <GitHubIcon class="size-5" />
          GitHub
        </SocialPill>
        <SocialPill link="https://www.linkedin.com/in/andrik-sp/">
          <MailIcon class="size-5" />
          LinkedIn
        </SocialPill>
      </nav>
    </section>

    <section class="mt-36">
      <div>Working Experience</div>
      <h2 class="text-3xl pb-xl mb-5 font-semibold">
        Take a closer look to my work
      </h2>
      <Experience />
    </section>
  </main>
</Layout>
