---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Insolite Solutions",
    date: "June 2023 - May 2024",
    position: " Software developer",
    location: " Sabadell, Barcelona, Spain",
    description: `Developed components with React, TypeScript, Tanstack table, Yup, Storybook and other
 JavaScript libraries achieving correct functionality and great visual precision in the UI`,
    latest: true,
  },
  {
    title: "Servicios Reyes Solis",
    date: "March 2021 - June 2023",
    position: " Software developer",
    location: " Sabadell, Barcelona, Spain",
    description: `Developed components with React and Typescript, achieving correct functionality and great
 visual precision in the UI`,
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map((experience) => {
      return (
        <li class="mb-10 ms-6">
          <ExperienceItem {...experience} />
        </li>
      );
    })
  }
</ol>
