<header>
  <img src="" alt="">
  <nav>
    <a href="./">Experience</a>
    <a href="./Projects">Projects</a>
    <a href="./About-me">About me</a>
    <a href="./Contact">Contact</a>
  </nav>
</header>