<header
  class="w-full max-w-[1020px] flex justify-between items-center
  px-4 mx-auto py-6"
>
  <img
    class="size-14 rounded-full"
    src="../../public/images/Andrik-Solis.jpg"
    alt="Andrik Solis Photo"
  />
  <nav class="flex gap-10">
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#about-me">About me</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
