<header class="flex justify-between items-center
p-8 w-[1120px]">
  <img
    class="size-16 rounded-full"
    src="../../public/images/Andrik-Solis.jpg"
    alt="Andrik Solis Photo"
  />
  <nav class="flex gap-10">
    <a href="./">Experience</a>
    <a href="./Projects">Projects</a>
    <a href="./About-me">About me</a>
    <a href="./Contact">Contact</a>
  </nav>
</header>
