---
const PROJECTS = [
  {
    title: "Vertical Freediving",
    description: "A corporate website.",
    image: "",
    tags: ["Wordpress", "JavaScript"],
  },
  {
    title: "Vertical Freediving",
    description: "A corporate website.",
    image: "",
    tags: ["Wordpress", "JavaScript"],
  },
];
---

{
  PROJECTS.map((project) => {
    <article>
      <h3>{}</h3>
    </article>
  })
}
